.root {
    height: 100%;
}

.root .menu .group {
    margin: 0;
    padding-inline-start: 0;
    font-size: 0.8rem;
}

.root .menu .group .item {
    padding: 0;
    cursor: pointer;
    line-height: 1.4rem;
    list-style-position: inside;
}

.root .menu .group .item:hover {
    opacity: 0.5;
}

.root .menu a {
    color: black;
    text-decoration: none;
}
