.root {
    height: 100%;
}

.root .left {
    margin: 1px 0;
    height: calc(100% - 1px * 2);
}

.root .right {
    --bar-height: 80px;

    height: 100%;
}

.root .right .query_bar {
    --opeartion-bar: 130px;

    display: flex;
    padding: 5px;
    height: calc(var(--bar-height));
    border-bottom: 1px solid var(--border-color);
}

.root .right .query_bar .input {
    width: calc(100% - var(--opeartion-bar) - 5px);
    height: calc(100% - 5px * 2);
}

.root .right .query_bar .opeartion {
    width: var(--opeartion-bar);
}

.root .right .parsed {
    padding: 5px;
    overflow-y: auto;
    height: calc(100% - 5px * 4 - var(--bar-height) - 1px);
}

