.root {
    height: 100%;
}

.root .menu .menu_group {
    margin: 0;
    padding-inline-start: 0;
    font-size: 0.8rem;
}

.root .menu .menu_group .menu_item {
    padding: 0;
    cursor: pointer;
    line-height: 1.4rem;
    list-style-position: inside;
}

.root .menu .menu_group .menu_item:hover {
    opacity: 0.5;
}

.root .board {
    padding: 1px 0;
}