.editor {
    padding: 1px 5px;
}

.board {
    overflow: auto;
    padding: 10px 0 10px 10px;
    height: calc(100% - 10px * 2);
}

.modal .summary table td {
	border: 1px solid var(--border-color);
}