.editor {
    padding: 1px 5px;
}

.board {
    padding: 10px;
    height: calc(100% - 10px * 2);
    overflow-y: auto;
}

.board .summary table td {
	border: 1px solid var(--border-color);
}