.root {
	/* 表单 */
	--form-item-margin: 5px;
	--form-item-height: 30px;
    --form-item-border-size: 1px;
	--form-item-border: var(--form-item-border-size) solid var(--border-color);
	--form-item-border-radius: 3px;
	--form-item-bgcolor: white;
    position: relative;
    margin: var(--form-item-margin);
    border: var(--form-item-border);
    border-radius: var(--form-item-border-radius);
}

.root.inline {
    display: inline-block;
}

.root button, 
.root select,
.root input {
    height: var(--form-item-height);
    line-height: var(--form-item-height);
}

.root button, 
.root select,
.root input,
.root textarea {
    margin: 0;
    border: none;
    outline: none;
    background-color: var(--form-item-bgcolor);
}

.root button, 
.root select {
    padding: 0;
    width: 100%;
}