.root.wrap {
    padding: 5px 5px 10px;
}

.root.inline {
    display: inline-block;
}

.root.wrap .container {
    position: relative;
    padding: 10px;
}

.root.wrap .container .label {
    position: absolute;
    top: -10px;
    display: none; 
    font-size: 0.8rem;
    background-color: var(--form-item-bgcolor);
}

.root.wrap .container.focused .label {
    display: inherit;
    padding: 0 5px;
}

.root .container input {
    margin: 0;
    padding: var(--form-item-padding);
    height: var(--form-item-height);
    border: none;
    outline: none;
}
