.root {
    margin: 5px;
    overflow-y: auto;
}

.root[data-type='component'] {
    border: 1px solid var(--border-color);
    /* max-height: calc(100% - 1px * 2); */
}

.root[data-type='menu'] {
    margin: 8px 5px;
}

.root[data-type='component'] .item {
    margin: 0;
}

.root .item .header {
    position: relative;
    padding: 3px 5px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    user-select: none;
}

.root[data-type='menu'] .item .header {
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.root[data-type='menu'] .item .header::before {
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    content: '+';
    text-align: center;
}

.root[data-type='menu'] .item.expanded .header::before {
    content: '-';
}

.root .item .header::after {
    position: absolute;
    right: 10px;
    content: attr(data-no);
    color: var(--border-color);
}

.root[data-type='component'] .item .header {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.root[data-type='menu'] .item .content {
    min-height: 5px;
}

.root .item .content .details {
    display: none;
}

.root .item.expanded .content .details {
    padding: 10px;
    display: block;
}

.root[data-type='component'] .item.expanded .content {
    background-color: var(--border-color);
}

.root[data-type='component'] .item.expanded .content .details {
    padding: 10px;
    background-color: #fff;
}